.diagnostic-analysis-container {
    width: 100%;
    margin-left: 12px;
    margin-right: auto;
    padding: 75px;
}

.diagnostic-analysis-title {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 48px;
    color: #333;
}

.diagnostic-analysis-right,
.diagnostic-analysis-left {
    width: 450px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.symptom-label {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 5px;
    line-height: 1.5;
    color: #666;
}

.symptom-label input {
    margin-right: 10px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

.diagnostic-analysis-flex {
    display: flex;
    justify-content: space-between;
}

.clear-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.clear-button:hover {
    background-color: #a71b2e;
}

.diagnose-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.diagnose-button:hover {
    background-color: #0056b3;
}

.symptom-description,
.doctor-recommendation-heading,
.home-remedies-heading {
    margin-top: 5px;
    font-weight: bold;
    margin-bottom: 10px;
}

.doctor-recommendation-list,
.home-remedies-list {
    margin-top: 10px;
    padding-left: 20px;
    font-size: 16px;
    line-height: 1.5;
    color: #666;
}

.recommendation-text {
    margin-top: 20px;
    font-style: italic;
    color: #888;
}

.no-recommendation-text {
    margin-top: 20px;
    font-size: 18px;
    color: #666;
}

