/* ProgramDirectory.css */

.program-directory {
    max-width: 100%;
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .program-directory-heading {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 48px;
    color: #333;
  }
  
  .program-list {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;
    width: 100%;
  }
  
  .program-list li {
    margin-bottom: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .program-list li:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .program-list li.expanded {
    padding-bottom: 40px;
  }
  
  .program-name {
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #333;
  }
  
  .program-description {
    color: #666;
    display: none;
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .program-list li.expanded .program-description {
    display: block;
  }
  